@import "../../colors";

:host {
  display: block;
  width: 0;
  height: 0;
  border-top: 0em solid transparent;
  border-right: 3em solid lightgrey;
  border-bottom: 0em solid transparent;

  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;

  transition: 0.3s;

  &:hover,
  &.active {
    border-right-color: $primary;
  }
}


